body {
  background-color: #34495e;
  color: #fff;
  max-width: 800px;
}

#game {
  text-align: center;
}

button, .letter {
  font-size: 150%;
  background: #ddd;
  border-radius: 8px;
  margin: 10px 5px;
}

#game button:hover {
  text-shadow: 1px 1px #2E3031;
}

#game button:disabled {
  text-decoration: line-through;
}

div {
  margin-top: 20px;
  clear: both;
}


.letter {
  width: 50px;
  height: 50px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

#mask {
  font-size: 250%;
  letter-spacing: 0.3em;
  text-align: center;
}